$bg-color: #feffeb;
$ft-color: #454447;
$main-color: #76AAC5;

$color1: #F20074;
$color2: #5087A2;
$color3: #7D75B5;
$color4: #FB3400;
$color5: #B04FA5;
$color6: #FFBE43;
$color7: #7DB6E6;
$color8: #BB8FC6;
$color9: #FB0000;

$font-header: 60px;
$font-title: 33px;
$font-status: 24px;
$font-contact: 22px;
$font-exp-year: 22px;
$font-exp-content: 18px;

$mp-5: 60px;
$mp-4: 30px;
$mp-2: 20px;
$mp-1: 15px;
$mp-05: 10px;

$sans: 'Droid Sans', sans-serif;
$serif: 'Droid Serif', serif;
