@import '_variables.scss';

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: $mp-4;

  & > * {
    display: block;

    &:not(:last-child) {
      margin-right: $mp-1;
    }

    img {
      $size: 40px;
      width: $size;

      @media screen and (min-width: map_get($breakpoints, md)) {
        $size: 65px;
        width: $size;
      }
    }
  }
}
