.experiences,
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.experiences {
  margin-bottom: 30px; }
  @media screen and (min-width: 425px) {
    .experiences {
      justify-content: space-around; }
      .experiences > *:not(:last-child) {
        margin-right: 15px; } }

.experience {
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .experience {
      flex-direction: row; } }

.experience-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: #76AAC5;
  border-radius: 100%;
  margin-bottom: 20px; }
  @media screen and (min-width: 1024px) {
    .experience-logo {
      margin-right: 20px; } }

.experience-years {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold; }

.experience-info {
  margin: 0;
  font-size: 18px;
  font-family: "Droid Serif", serif;
  font-weight: normal; }
