@import '_variables.scss';

.experiences,
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.experiences {
  margin-bottom: $mp-4;

  @media screen and (min-width: map_get($breakpoints, sm)) {
    justify-content: space-around;

    & > *:not(:last-child) {
      margin-right: $mp-1;
    }
  }
}

.experience {
  margin-bottom: $mp-2;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: map_get($breakpoints, lg)) {
    flex-direction: row;
  }
}

.experience-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  $size: 90px;
  width: $size;
  height: $size;
  background-color: $main-color;
  border-radius: 100%;
  margin-bottom: $mp-2;

  @media screen and (min-width: map_get($breakpoints, lg)) {
    margin-right: $mp-2;
  }
}

.experience-years {
  margin: 0 0 $mp-05 0;
  font-size: $font-exp-year;
  font-family: $sans;
  font-weight: bold;
}

.experience-info {
  margin: 0;
  font-size: $font-exp-content;
  font-family: $serif;
  font-weight: normal;
}
