/*
========================
        COLORS
========================
*/
/*
========================
        FONT SIZE
========================
*/
/*
========================
   MARGINS & PADDINGS
========================
*/
/*
========================
        FONTS
========================
*/
.header {
  text-align: center;
  padding: 60px 0 20px 0; }

.header-title {
  font-family: "Droid Sans", sans-serif;
  font-size: 60px;
  margin: 0;
  text-transform: uppercase; }

.header-status {
  font-family: "Droid Serif", serif;
  font-size: 24px;
  margin: 0; }
