@import '_variables.scss';

.header {
  text-align: center;
  padding: $mp-2 0 $mp-2 0;

  @media screen and (min-width: map_get($breakpoints, md)) {
    padding-top: $mp-5;
  }
}

.header-title {
  font-family: $sans;
  font-size: $font-header-mobile;
  margin: 0;
  text-transform: uppercase;
}

.header-status {
  font-family: $serif;
  font-size: $font-status-mobile;
  margin: 0;
}

@media screen and (min-width: map_get($breakpoints, md)) {
  .header-title {
    font-size: $font-header;
  }

  .header-status {
    font-size: $font-status;
  }
}
