@import '_variables.scss';

.header {
  text-align: center;
  padding: $mp-2 0 $mp-2 0;
  position: relative;

  @media screen and (min-width: map_get($breakpoints, md)) {
    padding-top: $mp-5;
  }
}

.header-title {
  font-family: $sans;
  font-size: $font-header-mobile;
  margin: 0;
  text-transform: uppercase;
}

.header-status {
  font-family: $serif;
  font-size: $font-status-mobile;
  margin: 0;
}

.pdf-badge {
  $size: 60px;
  width: $size;
  height: $size;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  background-color: $bg-color;
  opacity: .8;
  box-shadow: 0 0 10px $ft-color;
  border-radius: 100%;
  transform: rotate(20deg);
  z-index: 1;

  img {
    width: 35px;
    animation: pdf-badge 3s ease-in-out infinite;
    animation-delay: 3s;
  }
}

@media screen and (min-width: map_get($breakpoints, md)) {
  .header-title {
    font-size: $font-header;
  }

  .header-status {
    font-size: $font-status;
  }

  .pdf-badge {
    $size: 90px;
    width: $size;
    height: $size;
    right: 30px;
    top: 20px;

    img {
      width: 50px;
    }
  }
}

@keyframes pdf-badge {
  0% {
    transform: translateX(0);
  }

  3% {
    transform: translateX(-4px);
  }

  6% {
    transform: translateX(3px);
  }

  9% {
    transform: translateX(-2px);
  }

  12% {
    transform: translateX(1px);
  }

  15% {
    transform: translateX(0);
  }
}
