@import '_variables.scss';

html {
  background-color: $bg-color;
}

body {
  color: $ft-color;
  line-height: 1.5;
  margin: auto;
  padding: 0;
  max-width: 1080px;
}

.title,
.skills,
.experiences,
.contacts {
  padding: 0 $mp-2;
}
