.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.skill {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 30px; }
  .skill:nth-child(odd) {
    padding-right: 15px; }
  .skill:nth-child(even) {
    padding-left: 15px; }

.skill-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  margin-right: 30px; }
  .skill-block:after {
    content: '';
    position: absolute;
    display: block;
    border: 15px solid transparent;
    border-left: 15px solid;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%); }
  .skill-block.skill-block-0 {
    background-color: #BB8FC6; }
    .skill-block.skill-block-0:after {
      border-left-color: #BB8FC6; }
  .skill-block.skill-block-1 {
    background-color: #FB0000; }
    .skill-block.skill-block-1:after {
      border-left-color: #FB0000; }
  .skill-block.skill-block-2 {
    background-color: #F20074; }
    .skill-block.skill-block-2:after {
      border-left-color: #F20074; }
  .skill-block.skill-block-3 {
    background-color: #5087A2; }
    .skill-block.skill-block-3:after {
      border-left-color: #5087A2; }
  .skill-block.skill-block-4 {
    background-color: #7D75B5; }
    .skill-block.skill-block-4:after {
      border-left-color: #7D75B5; }
  .skill-block.skill-block-5 {
    background-color: #FB3400; }
    .skill-block.skill-block-5:after {
      border-left-color: #FB3400; }
  .skill-block.skill-block-6 {
    background-color: #76AAC5; }
    .skill-block.skill-block-6:after {
      border-left-color: #76AAC5; }
  .skill-block.skill-block-7 {
    background-color: #B04FA5; }
    .skill-block.skill-block-7:after {
      border-left-color: #B04FA5; }
  .skill-block.skill-block-8 {
    background-color: #FFBE43; }
    .skill-block.skill-block-8:after {
      border-left-color: #FFBE43; }
  .skill-block.skill-block-9 {
    background-color: #7DB6E6; }
    .skill-block.skill-block-9:after {
      border-left-color: #7DB6E6; }
  .skill-block span {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Droid Sans", sans-serif; }

.skill-stars {
  display: flex;
  align-items: center; }
  .skill-stars > *:not(:last-child) {
    margin-right: 10px; }
