@import '_variables.scss';

.title {
  border-top: 2px solid $ft-color;
  border-bottom: 2px dotted $ft-color;
  margin-bottom: $mp-4;

  h2 {
    margin: 0;
    font-size: $font-title-mobile;
    font-family: $sans;
    font-weight: normal;

    @media screen and (min-width: map_get($breakpoints, md)) {
      font-size: $font-title;
    }
  }
}
